# Dev Environment files
.vscode
venv

# 3rd party access keys
config/config.json

# Compiled Python files
__pycache__/
*.py[cod]

# Mac files (I know I could globally ignore these but ¯\_(ツ)_/¯)
.DS_Store

# Project temporary files
*.mp4